@import url('../css/_black.css');
p {
	width: 500px;
	margin: 30px auto;
}
.cover {
	height: 500px;
	background-image: url("../img/atelier.jpg");
	background-position: center;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
img {
	display: block;
	margin: auto;
}