body {
	background-color: #212529;
}
h1 {
	font-size: 25px;
	color: #D0DCE8;
	text-align: left;
	letter-spacing: .05em;
}
.content {
	width: 1170px;
	margin: auto;
}
.intro {
	height: 100%;
	position: relative;
	top: 35%;
	min-height: 700px;
}
.btn {
	color: #D0DCE8;
	display: inline-block;
	padding: 25px;
	margin: 50px 5px;
	border: 1px solid #D0DCE8;
}
.btn:hover {
	color: #99D0FF;
	border: 1px solid #99D0FF;
	transition-duration: .3s;
}
.item01 {
	grid-area: item01;
}
.item02 {
	grid-area: item02;
}
.item03 {
	grid-area: item03;
}
.item04 {
	grid-area: item04;
}
.item05 {
	grid-area: item05;
}
.item06 {
	grid-area: item06;
}
.item07 {
	grid-area: item07;
}
.item08 {
	grid-area: item08;
}
.item09 {
	grid-area: item09;
}
.item10 {
	grid-area: item10;
}
.item11 {
	grid-area: item11;
}
.grid {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas: 
	"item01 item01 item06 item06 item06 item06"
	"item03 item03 item03 item02 item02 item02"
	"item09 item09 item09 item09 item05 item05"
	"item04 item04 item08 item08 item07 item07"
	"item10 item10 item10 item10 item11 item11"
	;
	grid-gap: 3px;
}
.grid>div {
	height: 500px;
	position: relative;
	overflow: hidden;
}
.grid img {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.envelope {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;	
}
.envelope p, .envelope h2
{		
	font-size: 13px;
	font-weight: 400;
	letter-spacing: .1em;
}
.envelope p {
	color: #8FA1B3;
	width: fit-content;
	transform-origin: 0% 100%;
	transform: translate(25px, 70px) rotate(-90deg);
	position: absolute;
	z-index: 1;
}
.envelope h2 {
	color: #D0DCE8;
	position: absolute;
	bottom: 10px;
	margin: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.envelope:hover {
	opacity: 1;
	transition-duration: .3s;
}
 .about {
	height: 100%;
	min-height: 700px;
	color: white;
}
@media only screen and (max-width: 1600px) {
.grid>div {
	height: 500px;
}	
}
@media only screen and (max-width: 1100px) {
.grid {
	width: 900px;
}
.grid>div {
	height: 400px;
}	
}
@media only screen and (max-width: 900px) {
.grid {
	width: 768px;
}
.grid>div {
	height: 300px;
}	
}
@media only screen and (max-width: 768px) {
.grid {
	grid-template-columns: 1fr;
	grid-template-rows: repeat(10, 1fr);
	grid-gap: 0px;
	grid-template-areas: 
	"item01"
	"item02"
	"item03"
	"item04"
	"item05"
	"item06"
	"item07"
	"item08"
	"item09"
	"item10"
	;
}/*
.grid>div {
	height: 70vh;
}	*/	
}
