body {
	background-color: #212529;
}
h1 {

	color: #D0DCE8;
	text-align: left;
}
.content {
	width: 1170px;
	margin: auto;
}
.intro {
	height: 60%;
	min-height: 700px;
}
.item01 {
	grid-area: item01;
}
.item02 {
	grid-area: item02;
}
.item03 {
	grid-area: item03;
}
.item04 {
	grid-area: item04;
}
.item05 {
	grid-area: item05;
}
.item06 {
	grid-area: item06;
}
.item07 {
	grid-area: item07;
}
.item08 {
	grid-area: item08;
}
.item09 {
	grid-area: item09;
}
.item10 {
	grid-area: item10;
}
.item11 {
	grid-area: item11;
}
.grid {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas: 
	"item01 item01 item06 item06 item06 item06"
	"item03 item03 item03 item02 item02 item02"
	"item09 item09 item09 item09 item05 item05"
	"item04 item04 item08 item08 item07 item07"
	"item10 item10 item10 item10 item11 item11"
	;
	grid-gap: 3px;
}
.grid>div {
	height: 500px;
	position: relative;
	overflow: hidden;
}
.grid h2 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 400px 0px 0px 30px;
	color: #B3B3B3;
	text-align: left;
	z-index: 1;
	opacity: 0;
}
.grid h2:hover {
	opacity: 1;
	transition-duration: .3s;
}
.grid img {
	position: absolute;
	width: 100%;
	height: 100%;
	/*min-height: 600px;*/
	object-fit: cover;
}/*
.item01 img {
	min-height: 900px;
	top: 40px;
}*/
.about {
	height: 100%;
	min-height: 700px;
	color: white;
}
@media only screen and (max-width: 1600px) {
.grid>div {
	height: 500px;
}	
}
@media only screen and (max-width: 1100px) {
.grid {
	width: 900px;
}
.grid>div {
	height: 400px;
}	
}
@media only screen and (max-width: 900px) {
.grid {
	width: 768px;
}
.grid>div {
	height: 300px;
}	
}
@media only screen and (max-width: 768px) {
.grid {
	grid-template-columns: 1fr;
	grid-template-rows: repeat(10, 1fr);
	grid-gap: 0px;
	grid-template-areas: 
	"item01"
	"item02"
	"item03"
	"item04"
	"item05"
	"item06"
	"item07"
	"item08"
	"item09"
	"item10"
	;
}/*
.grid>div {
	height: 70vh;
}	*/	
}
