@import url('../../../css/_white.css');
h1, h2, h3, p {
	text-align: left;
}
.logo_cite {
	width: 100px;
	min-width: initial;
	min-height: initial;
	float: right;
}
.cover {
	background-image: url("../img/1/lavicka-cover.jpg");
}
.grid {
	height: 145%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
.shortgrid {
	height: 500px;
	grid-template-rows: 500px;
}
.grid>div {
	max-height: 100%;
}
.grid img {
	width: 100%;
	height: 100%;
	max-height: 100%;	
	object-position: center;
	object-fit: cover;
}
.logotype-bench img {
	width: 220px;
	margin: 0px 0px 50px 0px;
	padding: 10% 0px 0px 15%;
}
@media only screen and (max-width: 992px) {
.logotype-bench img {
	width: 180px;
	margin: 0px 0px 30px 0px;
	padding: 100px 0px 0px 100px;
}
}
@media only screen and (max-width: 768px) {
.grid {
	height: 300%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(6, 1fr);
}
.shortgrid {
	height: 100%;
	grid-template-rows: repeat(2, 2fr);
}
}
