@import url('../../../css/_black.css');
p {
	margin-top: 30px;
}
.cover {
	background-image: url("../img/2/cover.png");
}
.grid {
	max-width: 1300px;
	margin: auto;
	display: grid;
	grid-gap: 20px;
}
.four {
	grid-template-columns: repeat(4, 1fr);
}
.three {
	max-width: 768px;
	grid-template-columns: repeat(3, 1fr);
}
.grid img {
	display: block;
	width: initial;
	margin: 0px auto 30px auto;
}
.grid h3 {
	color: #3748e4;
}