@import url('../../../css/_black.css');
h1 {
	color: #e4a537;
}
.cover {
	background-image: url("../img/3/cover-haart.png");
}
.grid {
	width: 100%;
	display: grid;
}
.two {
	grid-template-columns: repeat(2, auto);
	grid-gap: 0px;
}
.three {
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0px;
}
.four {
	grid-template-columns: repeat(4, 1fr);
}
.a {
	max-width: 1300px;
	margin: auto;
}
.a img {
	display: block;
	min-height: initial;
	max-height: initial;
	width: initial;
	margin: 0px auto 30px auto;
}
.b {
	background-color: #d0d0d0;
}
.b h3 {
	color: #e4a537;
}
.b h1 {
	position: relative;
	top: 90%;
	color: black;
}
.d img {
	object-position: top;
}
.f img {
	height: 100%;
}